h4
    font-size .3rem
.box
    margin-top .2rem
    margin-bottom .4rem
    padding .28rem .2rem
    border-radius .06rem
    overflow hidden
    background-color #fdfdfc
    li
      display inline-block
      width 25%
      height .8rem
      line-height .8rem
      box-sizing border-box
      margin-bottom (-1px)
      font-size .28rem
      text-align center