
.meishi 
  background: #fd9d21;


.maoyan 
  font-size: 0.8rem !important;
  background: #ff6767;


.jiudian 
  background: #8a90fa;


.xiuxian 
  background: #fed030;


.waimai 
  background: #fd9d21;


.ktv 
  background: #fed030;


.travel 
  background: #4dc6ee;


.liren 
  background: #ff80c2;


.xiaochi 
  background: #fd9d21;


.fuwu 
  background: #A8DD99;

.jinrixindan
  background: #00d3be
.zuliao
  background: #fed030
.tiandian
  background: #fd9d21
.muying
  background: #ff80c2
.xuexi
  background: #84d23d
.jiehun
  background: #ff80c2
.jiazhuang
  background: #84d23d
.che
  background: #a7dc98
.chuan
  background: #ff8822
.quanbu
  background: #00d3be